* {
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
}

:root {
    --blue: #2c3e50;
    --light-blue: #3a546d;
    --aqua: #1abc9c;
}

/* HEADER */
header {
    background-color: var(--blue);
}

.navbar-expand-lg .navbar-collapse,
.navbar-expand-md .navbar-collapse {
    flex-grow: 0;
}

/* MAIN */
/* sezione jumbo */
.jumbo {
    background-color: var(--aqua);
}

.jumbo img {
    max-width: 250px;
}

.star:after {
    content: "\2015";
    font-size: 40px;
}

.star:before {
    content: "\2015";
    font-size: 40px;
}

/* sezione portfolio */
.portfolio {
    color: var(--blue);
}

.portfolio img {
    max-width: 100%;
}

/* sezione about */
.about {
    background-color: var(--aqua);
}

.about .btn-outline-dark {
   color: white;
   border-color: white; 
}

/* sezione contact */
.contact {
    color: var(--blue);
}

.contact textarea {
    max-width: 100%;
}

.contact .btn-outline-light {
    color: white;
    background-color: var(--aqua);
    border-color: var(--aqua);
}


/* FOOTER */
/* footer superiore */
.upper-footer {
    background-color: var(--light-blue);
}

.upper-footer a {
    color: var(--aqua);
    text-decoration: none;
}

.upper-footer .ms_circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 3px;
    margin: 0 2px;
    vertical-align: middle;
}

.upper-footer i {
    padding-top: 13px;
}


/* footer inferiore */
.lower-footer {
    background-color: var(--blue);
}

.fs-6 {
    font-size: 0.7rem !important;
}